.site-layout-background {
  background: #fff;
}

/* 头部整体 */
.header {
  display: flex;
  justify-content: space-between;
}

/* 头部左边 */
.ant-layout-header .logo img {
  height: 85%;
  animation: hoverKF 2s infinite linear paused;
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.logo img:hover {
  animation: hoverKF 2s infinite linear running;
}
@keyframes hoverKF {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 头部的右边 */
.dropdown {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.downLine {
  transition: All 0.4s ease-in-out;
}
.dropdown:hover .downLine {
  transform: rotate(180deg);
}
